{% extends 'base.html'%}
{% block titulo %}Login{%endblock%}
{% block contenido%}
<div class="col-md-12 blog-main">

    {% if not user.is_authenticated %}
    <div class="login-form">
        <form action="" method="post">
            {% csrf_token%}
           {{form.as_p}}
                <div class="form-group">
                <button type="submit" class="btn boton btn-block">Login</button>
            </div>
        </form>
         <p class="text-center"><a class="enlace" href="{%url 'register'%}">Crear una cuenta.</a></p>
    </div>
    {%else%}
    <h1>Usted ya esta logeado. </h1>
    {%endif%}
</div>
{% endblock%}