{% extends 'base.html'%} {%block titulo%}Index{%endblock%} {%block contenido%}
<div class="col-md-12 blog-main">

<form class="form" method="post" enctype="multipart/form-data" >
    {%csrf_token%} <!-- Añadimos este token para verificar la procedencia del formulario--->
    <div class="row">
      <div class="col-6"><label for="id_titulo">Título</label> {{form.titulo}}</div>
      <div class="col-6"><label for="id_descripcion">Descripción</label> {{form.descripcion}}</div>
    </div>
    <br />
    <div class="row">
      <!--<div class="col-6"><label for="id_image">Imágen</label> {{form.image}}</div>-->
      <div class="col-6"><label for="id_categoria">Categoría</label> {{form.categoria}}</div>
    </div>
    <br />

    <label for="id_contenido">Contenidos</label><br><br>
    {{form.contenido}}

    <br />
    <br />
    <input type="submit" value="Publicar" class="btn btn-primary btn-block boton">
</form>
</div>
{%endblock%}
